@import "./mixin.scss";

* {
    box-sizing: border-box;
    

    .container {
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        @media (max-width: 1023px) {
            font-size: 14px;
        }
        background: linear-gradient(to bottom, rgba(220, 230, 255, 0.8) 30%, rgba(70, 120, 255, 0.8));



        // HEADER
        .header {
            display: grid;
            grid-template-columns: auto 15% auto 45% auto 25% auto;
            grid-template-rows: 80px;
            line-height: 80px;
            @media (max-width: 1023px) {
                grid-template-rows: 50px;
                line-height: 50px;
            }
            background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));
            color: rgb(0, 25, 100);
            position: sticky;
            top: 0;
            z-index: 10;

            .logo {
                grid-column-start: 2;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 80px;
                @media (max-width: 1023px) {
                    grid-template-rows: 50px;
                    line-height: 50px;
                }
                align-items: center;
                border-right: 1px solid  rgb(170, 200, 225);
                border-left: 1px solid  rgb(170, 200, 225);
                text-decoration: none;

                .logo-img {
                    @media (max-width: 1023px) {
                        height: 25px;
                        width: 25px;
                    }
                    justify-self: right;
                    height: 50px;
                    width: 50px;
                    background-image: url(images/logo.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: all 1s;
                }

                .logo-text {
                    @media (max-width: 425px) {
                        display: none;
                    }                    
                    @media (max-width: 1300px) {
                        font-size: 18px;
                    }
                    @media (max-width: 1023px) {
                        font-size: 14px;
                    }
                    @media (max-width: 750px) {
                        font-size: 10px;
                    }
                    justify-self: left;
                    text-decoration: none;
                    font-size: 30px;
                    text-align: center;
                    color: rgb(0, 25, 100);
                    padding-top: 3px;
                    padding-left: 5px;
                }
            }
            .logo:hover {
                background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                border-bottom: 3px solid azure; 
            }
            .logo:hover >.logo-img {
                transform: rotateY(-360deg);
                transition: all 3s;
            }

            .menu {
                @media (max-width: 750px) {
                    display: none;
                }
                @media (max-width: 1023px) {
                    grid-template-rows: 50px;
                    font-size: 14px;
                }
                grid-column-start: 4;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 80px;

                a {
                    @media (max-width: 1023px) {
                        line-height: 50px;
                    }
                    @media (max-width: 650px) {
                        font-size: 10px;
                    }
                    height: 100%;
                    width: 100%;
                    line-height: 80px;
                    text-align: center;
                    text-decoration: none;
                    color: rgb(0, 25, 100);
                    border-right: 1px solid  rgb(170, 200, 225);
                }
                a:first-child {
                    border-left: 1px solid  rgb(170, 200, 225);
                }
                a:hover {
                    background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                    border-bottom: 3px solid azure;
                }
            }

            .authorization {
                @media (max-width: 750px) {
                    display: none;
                }
                @media (max-width: 1023px) {
                    grid-template-rows: 50px;
                }
                grid-column-start: 6;
                display: grid;
                grid-template-columns: 33.3% 33.3% 33.3%;
                grid-template-rows: 80px;
                
                button {
                    @media (max-width: 1023px) {
                        font-size: 14px;
                        line-height: 50px;
                    }
                    @media (max-width: 650px) {
                       font-size: 10px; 
                    }
                    border: none;
                    background: none;
                    font-family: "Montserrat", sans-serif;
                    font-size: 16px;
                    line-height: 80px;
                    border-right: 1px solid  rgb(170, 200, 225);
                    color: rgb(0, 25, 100);
                }
                button:first-child {
                    border-left: 1px solid  rgb(170, 200, 225);
                }
                button:hover {
                    background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                    border-bottom: 3px solid azure;
                }
            }

            .mobile-menu {
                display: none;
                @media (max-width: 750px) {
                    display: grid;
                    grid-template-columns: 100px;
                    grid-template-rows: 25px 50px 50px 50px 50px;
                    position: absolute;
                    top: 50px;
                    left: -101px;
                    visibility: hidden;
                    background: linear-gradient(to bottom,  rgb(200, 230, 255),  rgb(150, 180, 205));
                    transition: all 1s ease-in-out;

                    .close-mob-menu-btn {
                        border-bottom: 1px solid rgb(150, 180, 205);

                        span {
                            display: block;
                            width: 1px;
                            height: 15px;
                            background-color: rgb(0, 25, 100);
                            position: absolute;
                            left: 87px;
                            top: 5px;
                            transform: rotateZ(45deg);
                        }
    
                        span:last-child {
                            transform: rotateZ(-45deg);
                        }
                    }

                    .close-mob-menu-btn:hover span {
                        background-color: azure;
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        line-height: 50px;
                        text-align: center;
                        text-decoration: none;
                        color: rgb(0, 25, 100);
                        border-bottom: 1px solid  rgb(150, 180, 205);
                    }

                    a:last-child {
                        border-bottom: 1px solid transparent;
                    }

                    a:hover {
                        color: azure;
                        border-bottom: 1px solid azure;
                    }
                }
            }

            .mobile-menu-active {
                @media (max-width: 750px) {
                    visibility: visible;
                    transition: all 1s ease-in-out;
                    transform: translateX(101px);
                }
            }
        }



        // MAIN
        .main {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 300px auto;

            // SLIDER
            .slider {
                width: 90%;
                margin: 0 auto;

                .slick-slide {
                    margin: 0 20px;
                }

                .slick-dots li button {
                    position: absolute;
                    bottom: 25px;
                }

                .slick-dots li button:before {
                    font-size: 12px;
                    @media (max-width: 750px) {
                        font-size: 8px;
                    }
                }

                .slick-dots li.slick-active button:before {
                    font-size: 18px;
                    color: rgb(0, 25, 100);
                    @media (max-width: 750px) {
                        font-size: 12px;
                    }
                }

                .frst-slide {
                    @include slideProperty;
    
                    .slide-img-1 {
                        @media (max-width: 750px) {
                            background-position: center;
                        }
                        background-image: url(images/img-1.png);
                        background-position: right;
                        background-size: contain;
                        background-repeat: no-repeat;
                        opacity: 0.5;
                    }

                    .slide-text-1 {
                        @include slideGrid;
                    }
                }
                .scnd-slide {
                    @include slideProperty;
    
                    .slide-img-2 {
                        @media (max-width: 750px) {
                            background-position: center;
                        }
                        background-image: url(images/img-2.png);
                        background-position: right;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .slide-text-2 {
                        @include slideGrid;
                        h2 {
                            font-size: 46px;
                            @media (max-width: 1300px) {
                                font-size: 36px;
                            }
                            @media (max-width: 1023px) {
                                font-size: 24px;
                                line-height: 30px;
                                text-align: center;
                            }
                        }
                    }
                }
                .thrd-slide {
                    @include slideProperty;
    
                    .slide-img-3 {
                        @media (max-width: 750px) {
                            background-position: center;
                        }
                        background-image: url(images/img-3.png);
                        background-position: right;
                        background-size: contain;
                        background-repeat: no-repeat;
                        opacity: 0.5;
                    }
                    .slide-text-3 {
                        @include slideGrid;
                    }
                }
            }

            // ABOUT
            .about-container {
                @include aboutProperty;
                @media (max-width: 425px) {
                    grid-template-columns: auto;
                    grid-template-rows: auto;
                }

                .about-description {
                    background-color: rgba(220, 230, 255, 0.5);
                    padding: 15px;
                    color: rgb(0, 25, 100);
                    margin-top: 15px;
                    @media (max-width: 425px) {
                        padding: 10px;
                    }

                    .about-description-title {
                        margin: 10px 0;
                    }

                    .about-row-1 {
                        display: grid;
                        grid-template-columns: auto 300px;
                        grid-template-rows: auto;
                        @media (max-width: 1023px) {
                            grid-template-columns: auto;
                            grid-template-rows: auto 250px;
                        }
    
                        .about-image-container {
                            display: flex;
                            justify-content: center;

                            .about-image {
                                display: flex;
                                width: 300px;
                                height: 250px;
                                align-items: flex-end;
                                justify-content: flex-end;
                                padding: 15px;
                                background-image: url(images/genealogy.jpg);
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                transition: all 0.5s;
                                @media (max-width: 425px) {
                                    transform: scale(0.8);
                                }
    
                                .to-big-size-btn {
                                    display: block;
                                    height: 35px;
                                    width: 35px;
                                    background: none;
                                    background-color: rgba(220, 230, 255, 0.8);
                                    background-image: url(images/full-screen-icon.png);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-position-y: -2px;
                                    border: none;
                                    border-radius: 5px;
                                    transition: all 0.3s;
                                }
    
                                .to-big-size-btn:focus {
                                    outline: none;
                                }
    
                                .to-big-size-btn:hover {
                                    transition: all 0.3s;
                                    background-color: rgba(70, 120, 255, 0.9);
                                }
    
                                .to-close-btn {
                                    display: block;
                                    height: 20px;
                                    width: 20px;
                                    background: none;
                                    background-color: rgba(220, 230, 255, 0.8);
                                    background-image: url(images/close-icon.png);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    border: 2px solid  rgba(220, 230, 255, 0.8);
                                    border-radius: 50%;
                                }
    
                                .to-close-btn:hover {
                                    transition: all 0.3s;
                                    border: 2px solid rgba(70, 120, 255, 0.9);
                                }
                            }
    
                            .about-image-active {
                                justify-content: flex-end;
                                align-items: flex-start;
                                background-image: url(images/genealogy.jpg);
                                transition: all 1s;
                                width: 100vh;
                                height: 83.3vh;
                                position: fixed;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                @media (max-width: 425px) {
                                    width: 48vh;
                                    height: 40vh;
                                }
                            }
                        }

                        .about-image-container-active {
                            display: flex;
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100vh;
                            background-color: rgba(0, 0, 0, 0.5);
                            z-index: 20;
                        }
                    }

                    .about-row-2 {
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto;

                        p {
                            margin-top: 20px;
                            text-align: center;
                        }
                        
                    }
                }
            }

            // FEATURES
            .features-container {
                display: grid;
                grid-template-rows: auto auto 250px;
                grid-template-columns: auto;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 15px;
                padding: 15px;
                background-color: rgba(220, 230, 255, 0.5);padding: 15px;
                color: rgb(0, 25, 100);
                @media (max-width: 425px) {
                    margin: 0;
                    grid-template-rows: auto auto 150px;
                }

                .features-title {
                    font-size: 36px;
                    
                    @media (max-width: 1300px) {
                        font-size: 36px;
                    }
                    @media (max-width: 1023px) {
                        font-size: 24px;
                        line-height: 30px;
                    }
            
                    font-family: 'Great Vibes', cursive;
                    margin-bottom: 10px;
                }

                .tabs-btn-container {
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    grid-template-rows: auto;
                    padding: 10px;
                    margin-bottom: 15px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 24px;
                    align-items: center;
                    @media (max-width: 425px) {
                        font-size: 12px;
                        line-height: 14px;
                    }

                    .tab-btn {
                        cursor: pointer;
                        border-bottom: 3px solid transparent;
                    }

                    .tab-btn:hover {
                        color: rgb(70, 100, 100);
                        border-bottom: 3px solid rgb(70, 100, 100);
                    }

                    .tab-btn-active {
                        border-bottom: 3px solid azure;
                    }
                }

                .tabs-features-container {
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    padding-bottom: 10px;

                    .def-tab-img {
                        width: 230px;
                        height: 230px;
                        transition: all 2s ease-in-out;
                        transform: rotateY(0deg);
                        @media (max-width: 425px) {margin: 0;
                            width: 130px;
                            height: 130px;
                        }
                    }
                    .def-tab-img-rotated {
                        transition: all 2s ease-in-out;
                        transform: rotateY(180deg);
                    }

                    .def-tab-img-hidden {
                        visibility: hidden;
                        transition: all 1s;
                    }

                    .tab-feature {
                        display: none;

                        .tab-feature-content {
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: auto;
                            justify-items: center;
                            align-items: center;
                            @media (max-width: 425px) {
                                font-size: 12px;
                            }

                            img {
                                margin-left: 15px;
                                max-height: 230px;
                                @media (max-width: 425px) {
                                   max-height: 130px;
                                }
                            }
                        }
                    }

                    .tab-feature-active {
                        display: block;
                    }

                    .default-tab-hidden {
                        display: none;
                    }
                }
            }

            // TREE
            .mobile-tree-container {
                display: none;
                @media (max-width: 1023px) {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    color: azure;
                    text-align: center;
                    padding: 15px;
                }
            }
            .global-tree-container {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                background-color: rgba(0, 0, 0, 0.5);
                margin: 50px 2.5% 50px 2.5%;
                padding-bottom: 50px;

                .tree-container-title {
                    font-size: 42px;
                    text-align: center;
                    color: azure;
                    margin: 50px 0 50px 0;
                    font-family: 'Great Vibes', cursive;
                    
                    @media (max-width: 1300px) {
                        font-size: 36px;
                    }
                    @media (max-width: 1023px) {
                        font-size: 24px;
                        line-height: 30px;
                    }                    
                }

                .profile-modal-container {
                    display: none;
                    grid-template-columns: 500px;
                    grid-template-rows: auto;
                    background-color: rgba(0, 0, 0, 0.7);
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    top: 40px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    margin: auto;

                    .profile-modal-window {
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto;
                        background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));

                        .modal-form {
                            display: grid;
                            grid-template-columns: auto;
                            grid-template-rows: auto auto auto auto auto auto;
                            padding: 15px;

                            .profile-row {
                                display: grid;
                                grid-template-columns: 100%;
                                grid-template-rows: auto;
                                justify-content: center;
                                align-items: center;
                            }

                            .profile-dbl-row {
                                display: grid;
                                grid-template-columns: 50% 50%;
                                grid-template-rows: auto;
                                justify-content: center;
                                align-items: center;
                            }

                            .profile-avatar {
                                display: grid;
                                align-items: center;
                                justify-items: center;
                                height: 100px;
                            }

                            .profile-image-upload {
                                display: grid;
                                grid-template-rows: auto;
                                grid-template-columns: auto auto;
                                font-size: 11px;
                                align-items: center;
                                color: rgb(0, 25, 100);
                                padding-right: 15px;
                                text-align: center;

                                .profile-image-input {
                                    display: none;
                                }
    
                                .profile-image-label {
                                    margin: 10px;
                                    height: 30px;
                                    background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));
                                    border: 2px solid rgb(150, 180, 205);
                                    border-radius: 5px;
                                    padding: 5px;
                                    font-size: 14px;
                                    line-height: 16px;
                                }

                                .profile-image-label:hover {
                                    cursor: pointer;
                                    background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                                    border-bottom: 2px solid azure;
                                }
                            }

                            input, textarea {
                                background: transparent;
                                background-color: rgba(240, 250, 255, 0.8);
                                border: 2px solid rgb(150, 180, 205);
                                border-radius: 5px;
                                margin: 5px 5px 15px 5px;
                                font-family: "Montserrat", sans-serif;
                                font-size: 12px;
                                color: rgb(0, 25, 100);
                            }

                            input:focus, textarea:focus {
                                outline: none;
                                border: 2px solid rgba(0, 25, 100, 0.8);
                            }

                            .profile-submit-btn, .profile-cancel-btn {
                                margin: 10px;
                                height: 30px;
                                background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));
                                border: 2px solid rgb(150, 180, 205);
                                border-radius: 5px;
                                padding: 5px;
                                font-size: 14px;
                                color: rgb(0, 25, 100);
                                text-align: center;
                            }

                            .profile-submit-btn:hover, .profile-cancel-btn:hover {
                                cursor: pointer;
                                background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                                border-bottom: 2px solid azure;
                            }

                            .profile-submit-btn:focus, .profile-cancel-btn:focus {
                                outline: none;
                            }
                        }
                    }

                }

                .pmc-active {
                    display: grid;
                }
                // pmc - profile-modal-container

                .tree-container {
                    display: none;

                    @media (min-width: 1024px) {
                        display: grid;
                        grid-template-rows: auto 50px;
                        grid-template-columns: auto;
                        justify-items: center;
                        align-items: center;

                        .add-family-member-btn {
                            display: block;
                            height: 30px;
                            border: 2px solid transparent;
                            border-radius: 5px;
                            background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));
                            color: rgb(0, 25, 100);
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;

                            span {
                                color: green;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }

                        .add-family-member-btn:hover {
                            cursor: pointer;
                            background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                            border-bottom: 2px solid azure;
                        }

                        .add-family-member-btn:focus {
                            outline: none;
                        }

                        .files-container {
                            display: grid;
                            grid-template-rows: auto auto auto;
                            min-height: 200px;
                            padding-bottom: 50px;

                            .ancestor-line-1, .siblings, .children-line-1, .children-line-2 {
                                @include treeDivFormat;
                            }

                            .person {
                                display: grid;
                                grid-template-columns: 100px;
                                grid-template-rows: auto 35px;
                                justify-items: center;
                                align-items: center;
                                border: 3px solid azure;
                                border-radius: 7px;
                                background-color: rgba(0, 0, 0, 0.5);
                                margin: 10px;

                                .person-avatar {
                                    border-bottom: 1px solid azure;
                                    border-bottom-left-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    border-top: 1px solid azure;
                                    border-top-left-radius: 5px;
                                    border-top-right-radius: 5px;
                                    margin: 3px;
                                    padding: 2px;
                                }

                                .person-name {
                                    font-size: 12px;
                                    color: azure;
                                    text-align: center;
                                }
                            }

                            .person:hover {
                                cursor: pointer;
                                box-shadow: 0px 0px 10px 5px rgba(220, 230, 255, 0.8);
                            }
                        }
                    }
                }

                .profile-info-modal {
                    display: none;
                    width: 400px;
                    grid-template-columns: auto;
                    grid-template-rows: 250px auto auto;
                    position: fixed;
                    top: 120px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
                    background-color: rgba(255, 255, 255, 0.95);
                    padding: 15px;
                    border-radius: 5px;

                    .profile-info-inner-row {
                        display: grid;
                        grid-template-columns: 200px auto;
                        grid-template-rows: auto;

                        .profile-info-avatar {
                            display: grid;

                            img {
                                display: block;
                                max-height: 250px;
                                max-width: 200px;
                            }
                        }

                        .profile-info-inner-col {
                            display: grid;
                            grid-template-columns: auto;
                            grid-template-rows: 50px 50px 50px;
                            align-items: center;

                            .profile-info-name {
                                font-size: 20px;
                                font-weight: bold;
                            }

                            .profile-info-dob {
                                font-weight: bold;

                                span {
                                    font-weight: normal;
                                }
                            }

                            .profile-info-dod {
                                display: grid;
                                grid-template-columns: 25px auto;
                                justify-items: left;
                                line-height: 32px;

                                .info-dod-icon {
                                    display: block;
                                    width: 25px;
                                    height: 30px;
                                    background-image: url(images/cross.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                    }

                    .profile-info-bio {
                        font-size: 14px;
                        line-height: 21px;
                    }

                    .profile-info-close-btn {
                        margin-top: 20px;
                        display: block;
                        width: 60px;
                        height: 30px;
                        border: 2px solid rgb(150, 180, 205);
                        background-color: linear-gradient(to bottom, rgb(230, 230, 230), rgb(200, 230, 255));
                        border-radius: 5px;
                        font-family: "Montserrat", sans-serif;
                        font-size: 16px;
                        text-align: center;
                        justify-self: right;
                    }

                    .profile-info-close-btn:hover {
                        cursor: pointer;
                        background: linear-gradient(to bottom, rgb(200, 230, 255), rgb(170, 200, 225));
                        border-bottom: 2px solid azure;
                    }

                    .profile-info-close-btn:focus {
                        outline: none;
                    }
                }

                .profile-info-modal-active {
                    display: grid;
                }
            }
        }
    }
}