* {
  box-sizing: border-box;
}
* .container {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, rgba(220, 230, 255, 0.8) 30%, rgba(70, 120, 255, 0.8));
}
@media (max-width: 1023px) {
  * .container {
    font-size: 14px;
  }
}
* .container .header {
  display: grid;
  grid-template-columns: auto 15% auto 45% auto 25% auto;
  grid-template-rows: 80px;
  line-height: 80px;
  background: linear-gradient(to bottom, #e6e6e6, #c8e6ff);
  color: #001964;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width: 1023px) {
  * .container .header {
    grid-template-rows: 50px;
    line-height: 50px;
  }
}
* .container .header .logo {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 80px;
  align-items: center;
  border-right: 1px solid #aac8e1;
  border-left: 1px solid #aac8e1;
  text-decoration: none;
}
@media (max-width: 1023px) {
  * .container .header .logo {
    grid-template-rows: 50px;
    line-height: 50px;
  }
}
* .container .header .logo .logo-img {
  justify-self: right;
  height: 50px;
  width: 50px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 1s;
}
@media (max-width: 1023px) {
  * .container .header .logo .logo-img {
    height: 25px;
    width: 25px;
  }
}
* .container .header .logo .logo-text {
  justify-self: left;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #001964;
  padding-top: 3px;
  padding-left: 5px;
}
@media (max-width: 425px) {
  * .container .header .logo .logo-text {
    display: none;
  }
}
@media (max-width: 1300px) {
  * .container .header .logo .logo-text {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  * .container .header .logo .logo-text {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  * .container .header .logo .logo-text {
    font-size: 10px;
  }
}
* .container .header .logo:hover {
  background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
  border-bottom: 3px solid azure;
}
* .container .header .logo:hover > .logo-img {
  transform: rotateY(-360deg);
  transition: all 3s;
}
* .container .header .menu {
  grid-column-start: 4;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 80px;
}
@media (max-width: 750px) {
  * .container .header .menu {
    display: none;
  }
}
@media (max-width: 1023px) {
  * .container .header .menu {
    grid-template-rows: 50px;
    font-size: 14px;
  }
}
* .container .header .menu a {
  height: 100%;
  width: 100%;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  color: #001964;
  border-right: 1px solid #aac8e1;
}
@media (max-width: 1023px) {
  * .container .header .menu a {
    line-height: 50px;
  }
}
@media (max-width: 650px) {
  * .container .header .menu a {
    font-size: 10px;
  }
}
* .container .header .menu a:first-child {
  border-left: 1px solid #aac8e1;
}
* .container .header .menu a:hover {
  background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
  border-bottom: 3px solid azure;
}
* .container .header .authorization {
  grid-column-start: 6;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 80px;
}
@media (max-width: 750px) {
  * .container .header .authorization {
    display: none;
  }
}
@media (max-width: 1023px) {
  * .container .header .authorization {
    grid-template-rows: 50px;
  }
}
* .container .header .authorization button {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 80px;
  border-right: 1px solid #aac8e1;
  color: #001964;
}
@media (max-width: 1023px) {
  * .container .header .authorization button {
    font-size: 14px;
    line-height: 50px;
  }
}
@media (max-width: 650px) {
  * .container .header .authorization button {
    font-size: 10px;
  }
}
* .container .header .authorization button:first-child {
  border-left: 1px solid #aac8e1;
}
* .container .header .authorization button:hover {
  background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
  border-bottom: 3px solid azure;
}
* .container .header .mobile-menu {
  display: none;
}
@media (max-width: 750px) {
  * .container .header .mobile-menu {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 25px 50px 50px 50px 50px;
    position: absolute;
    top: 50px;
    left: -101px;
    visibility: hidden;
    background: linear-gradient(to bottom, #c8e6ff, #96b4cd);
    transition: all 1s ease-in-out;
  }
  * .container .header .mobile-menu .close-mob-menu-btn {
    border-bottom: 1px solid #96b4cd;
  }
  * .container .header .mobile-menu .close-mob-menu-btn span {
    display: block;
    width: 1px;
    height: 15px;
    background-color: #001964;
    position: absolute;
    left: 87px;
    top: 5px;
    transform: rotateZ(45deg);
  }
  * .container .header .mobile-menu .close-mob-menu-btn span:last-child {
    transform: rotateZ(-45deg);
  }
  * .container .header .mobile-menu .close-mob-menu-btn:hover span {
    background-color: azure;
  }
  * .container .header .mobile-menu a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #001964;
    border-bottom: 1px solid #96b4cd;
  }
  * .container .header .mobile-menu a:last-child {
    border-bottom: 1px solid transparent;
  }
  * .container .header .mobile-menu a:hover {
    color: azure;
    border-bottom: 1px solid azure;
  }
}
@media (max-width: 750px) {
  * .container .header .mobile-menu-active {
    visibility: visible;
    transition: all 1s ease-in-out;
    transform: translateX(101px);
  }
}
* .container .main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto;
}
* .container .main .slider {
  width: 90%;
  margin: 0 auto;
}
* .container .main .slider .slick-slide {
  margin: 0 20px;
}
* .container .main .slider .slick-dots li button {
  position: absolute;
  bottom: 25px;
}
* .container .main .slider .slick-dots li button:before {
  font-size: 12px;
}
@media (max-width: 750px) {
  * .container .main .slider .slick-dots li button:before {
    font-size: 8px;
  }
}
* .container .main .slider .slick-dots li.slick-active button:before {
  font-size: 18px;
  color: #001964;
}
@media (max-width: 750px) {
  * .container .main .slider .slick-dots li.slick-active button:before {
    font-size: 12px;
  }
}
* .container .main .slider .frst-slide {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px;
  color: #001964;
}
@media (max-width: 750px) {
  * .container .main .slider .frst-slide {
    grid-template-columns: auto;
    grid-template-rows: 100px 170px;
  }
}
* .container .main .slider .frst-slide h2 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  * .container .main .slider .frst-slide h2 {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .frst-slide h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .slider .frst-slide p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1300px) {
  * .container .main .slider .frst-slide p {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .frst-slide p {
    font-size: 12px;
    line-height: 18px;
  }
}
* .container .main .slider .frst-slide .slide-img-1 {
  background-image: url(images/img-1.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
@media (max-width: 750px) {
  * .container .main .slider .frst-slide .slide-img-1 {
    background-position: center;
  }
}
* .container .main .slider .frst-slide .slide-text-1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: center;
  justify-items: center;
}
* .container .main .slider .scnd-slide {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px;
  color: #001964;
}
@media (max-width: 750px) {
  * .container .main .slider .scnd-slide {
    grid-template-columns: auto;
    grid-template-rows: 100px 170px;
  }
}
* .container .main .slider .scnd-slide h2 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  * .container .main .slider .scnd-slide h2 {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .scnd-slide h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .slider .scnd-slide p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1300px) {
  * .container .main .slider .scnd-slide p {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .scnd-slide p {
    font-size: 12px;
    line-height: 18px;
  }
}
* .container .main .slider .scnd-slide .slide-img-2 {
  background-image: url(images/img-2.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 750px) {
  * .container .main .slider .scnd-slide .slide-img-2 {
    background-position: center;
  }
}
* .container .main .slider .scnd-slide .slide-text-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: center;
  justify-items: center;
}
* .container .main .slider .scnd-slide .slide-text-2 h2 {
  font-size: 46px;
}
@media (max-width: 1300px) {
  * .container .main .slider .scnd-slide .slide-text-2 h2 {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .scnd-slide .slide-text-2 h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}
* .container .main .slider .thrd-slide {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px;
  color: #001964;
}
@media (max-width: 750px) {
  * .container .main .slider .thrd-slide {
    grid-template-columns: auto;
    grid-template-rows: 100px 170px;
  }
}
* .container .main .slider .thrd-slide h2 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  * .container .main .slider .thrd-slide h2 {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .thrd-slide h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .slider .thrd-slide p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1300px) {
  * .container .main .slider .thrd-slide p {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  * .container .main .slider .thrd-slide p {
    font-size: 12px;
    line-height: 18px;
  }
}
* .container .main .slider .thrd-slide .slide-img-3 {
  background-image: url(images/img-3.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
@media (max-width: 750px) {
  * .container .main .slider .thrd-slide .slide-img-3 {
    background-position: center;
  }
}
* .container .main .slider .thrd-slide .slide-text-3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: center;
  justify-items: center;
}
* .container .main .about-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
}
* .container .main .about-container h2 {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  * .container .main .about-container h2 {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .about-container h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .about-container p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1300px) {
  * .container .main .about-container p {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  * .container .main .about-container p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 425px) {
  * .container .main .about-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
* .container .main .about-container .about-description {
  background-color: rgba(220, 230, 255, 0.5);
  padding: 15px;
  color: #001964;
  margin-top: 15px;
}
@media (max-width: 425px) {
  * .container .main .about-container .about-description {
    padding: 10px;
  }
}
* .container .main .about-container .about-description .about-description-title {
  margin: 10px 0;
}
* .container .main .about-container .about-description .about-row-1 {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto;
}
@media (max-width: 1023px) {
  * .container .main .about-container .about-description .about-row-1 {
    grid-template-columns: auto;
    grid-template-rows: auto 250px;
  }
}
* .container .main .about-container .about-description .about-row-1 .about-image-container {
  display: flex;
  justify-content: center;
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image {
  display: flex;
  width: 300px;
  height: 250px;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px;
  background-image: url(images/genealogy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
@media (max-width: 425px) {
  * .container .main .about-container .about-description .about-row-1 .about-image-container .about-image {
    transform: scale(0.8);
  }
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image .to-big-size-btn {
  display: block;
  height: 35px;
  width: 35px;
  background: none;
  background-color: rgba(220, 230, 255, 0.8);
  background-image: url(images/full-screen-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -2px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image .to-big-size-btn:focus {
  outline: none;
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image .to-big-size-btn:hover {
  transition: all 0.3s;
  background-color: rgba(70, 120, 255, 0.9);
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image .to-close-btn {
  display: block;
  height: 20px;
  width: 20px;
  background: none;
  background-color: rgba(220, 230, 255, 0.8);
  background-image: url(images/close-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(220, 230, 255, 0.8);
  border-radius: 50%;
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image .to-close-btn:hover {
  transition: all 0.3s;
  border: 2px solid rgba(70, 120, 255, 0.9);
}
* .container .main .about-container .about-description .about-row-1 .about-image-container .about-image-active {
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url(images/genealogy.jpg);
  transition: all 1s;
  width: 100vh;
  height: 83.3vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 425px) {
  * .container .main .about-container .about-description .about-row-1 .about-image-container .about-image-active {
    width: 48vh;
    height: 40vh;
  }
}
* .container .main .about-container .about-description .about-row-1 .about-image-container-active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
* .container .main .about-container .about-description .about-row-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
* .container .main .about-container .about-description .about-row-2 p {
  margin-top: 20px;
  text-align: center;
}
* .container .main .features-container {
  display: grid;
  grid-template-rows: auto auto 250px;
  grid-template-columns: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  padding: 15px;
  background-color: rgba(220, 230, 255, 0.5);
  padding: 15px;
  color: #001964;
}
@media (max-width: 425px) {
  * .container .main .features-container {
    margin: 0;
    grid-template-rows: auto auto 150px;
  }
}
* .container .main .features-container .features-title {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  * .container .main .features-container .features-title {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .features-container .features-title {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .features-container .tabs-btn-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  align-items: center;
}
@media (max-width: 425px) {
  * .container .main .features-container .tabs-btn-container {
    font-size: 12px;
    line-height: 14px;
  }
}
* .container .main .features-container .tabs-btn-container .tab-btn {
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
* .container .main .features-container .tabs-btn-container .tab-btn:hover {
  color: #466464;
  border-bottom: 3px solid #466464;
}
* .container .main .features-container .tabs-btn-container .tab-btn-active {
  border-bottom: 3px solid azure;
}
* .container .main .features-container .tabs-features-container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;
}
* .container .main .features-container .tabs-features-container .def-tab-img {
  width: 230px;
  height: 230px;
  transition: all 2s ease-in-out;
  transform: rotateY(0deg);
}
@media (max-width: 425px) {
  * .container .main .features-container .tabs-features-container .def-tab-img {
    margin: 0;
    width: 130px;
    height: 130px;
  }
}
* .container .main .features-container .tabs-features-container .def-tab-img-rotated {
  transition: all 2s ease-in-out;
  transform: rotateY(180deg);
}
* .container .main .features-container .tabs-features-container .def-tab-img-hidden {
  visibility: hidden;
  transition: all 1s;
}
* .container .main .features-container .tabs-features-container .tab-feature {
  display: none;
}
* .container .main .features-container .tabs-features-container .tab-feature .tab-feature-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
@media (max-width: 425px) {
  * .container .main .features-container .tabs-features-container .tab-feature .tab-feature-content {
    font-size: 12px;
  }
}
* .container .main .features-container .tabs-features-container .tab-feature .tab-feature-content img {
  margin-left: 15px;
  max-height: 230px;
}
@media (max-width: 425px) {
  * .container .main .features-container .tabs-features-container .tab-feature .tab-feature-content img {
    max-height: 130px;
  }
}
* .container .main .features-container .tabs-features-container .tab-feature-active {
  display: block;
}
* .container .main .features-container .tabs-features-container .default-tab-hidden {
  display: none;
}
* .container .main .mobile-tree-container {
  display: none;
}
@media (max-width: 1023px) {
  * .container .main .mobile-tree-container {
    display: block;
    width: 100%;
    font-size: 16px;
    color: azure;
    text-align: center;
    padding: 15px;
  }
}
* .container .main .global-tree-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px 2.5% 50px 2.5%;
  padding-bottom: 50px;
}
* .container .main .global-tree-container .tree-container-title {
  font-size: 42px;
  text-align: center;
  color: azure;
  margin: 50px 0 50px 0;
  font-family: "Great Vibes", cursive;
}
@media (max-width: 1300px) {
  * .container .main .global-tree-container .tree-container-title {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  * .container .main .global-tree-container .tree-container-title {
    font-size: 24px;
    line-height: 30px;
  }
}
* .container .main .global-tree-container .profile-modal-container {
  display: none;
  grid-template-columns: 500px;
  grid-template-rows: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background: linear-gradient(to bottom, #e6e6e6, #c8e6ff);
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 15px;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-row {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-dbl-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-avatar {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100px;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-image-upload {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  font-size: 11px;
  align-items: center;
  color: #001964;
  padding-right: 15px;
  text-align: center;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-image-upload .profile-image-input {
  display: none;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-image-upload .profile-image-label {
  margin: 10px;
  height: 30px;
  background: linear-gradient(to bottom, #e6e6e6, #c8e6ff);
  border: 2px solid #96b4cd;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-image-upload .profile-image-label:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
  border-bottom: 2px solid azure;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form input, * .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form textarea {
  background: transparent;
  background-color: rgba(240, 250, 255, 0.8);
  border: 2px solid #96b4cd;
  border-radius: 5px;
  margin: 5px 5px 15px 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #001964;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form input:focus, * .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form textarea:focus {
  outline: none;
  border: 2px solid rgba(0, 25, 100, 0.8);
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-submit-btn, * .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-cancel-btn {
  margin: 10px;
  height: 30px;
  background: linear-gradient(to bottom, #e6e6e6, #c8e6ff);
  border: 2px solid #96b4cd;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #001964;
  text-align: center;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-submit-btn:hover, * .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-cancel-btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
  border-bottom: 2px solid azure;
}
* .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-submit-btn:focus, * .container .main .global-tree-container .profile-modal-container .profile-modal-window .modal-form .profile-cancel-btn:focus {
  outline: none;
}
* .container .main .global-tree-container .pmc-active {
  display: grid;
}
* .container .main .global-tree-container .tree-container {
  display: none;
}
@media (min-width: 1024px) {
  * .container .main .global-tree-container .tree-container {
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  * .container .main .global-tree-container .tree-container .add-family-member-btn {
    display: block;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to bottom, #e6e6e6, #c8e6ff);
    color: #001964;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  * .container .main .global-tree-container .tree-container .add-family-member-btn span {
    color: green;
    font-weight: bold;
    font-size: 18px;
  }
  * .container .main .global-tree-container .tree-container .add-family-member-btn:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #c8e6ff, #aac8e1);
    border-bottom: 2px solid azure;
  }
  * .container .main .global-tree-container .tree-container .add-family-member-btn:focus {
    outline: none;
  }
  * .container .main .global-tree-container .tree-container .files-container {
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 200px;
    padding-bottom: 50px;
  }
  * .container .main .global-tree-container .tree-container .files-container .ancestor-line-1, * .container .main .global-tree-container .tree-container .files-container .siblings, * .container .main .global-tree-container .tree-container .files-container .children-line-1, * .container .main .global-tree-container .tree-container .files-container .children-line-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  * .container .main .global-tree-container .tree-container .files-container .person {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: auto 35px;
    justify-items: center;
    align-items: center;
    border: 3px solid azure;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
  }
  * .container .main .global-tree-container .tree-container .files-container .person .person-avatar {
    border-bottom: 1px solid azure;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid azure;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 3px;
    padding: 2px;
  }
  * .container .main .global-tree-container .tree-container .files-container .person .person-name {
    font-size: 12px;
    color: azure;
    text-align: center;
  }
  * .container .main .global-tree-container .tree-container .files-container .person:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(220, 230, 255, 0.8);
  }
}

/*# sourceMappingURL=style.css.map */
